Twitter - Server/WebContent/wsdl/Find.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://vansh" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://vansh" xmlns:intf="http://vansh" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://vansh" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getUsers">
    <complexType>
     <sequence>
      <element name="searchTerm" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsersResponse">
    <complexType>
     <sequence>
      <element name="getUsersReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUsersResponse">

      <wsdl:part element="impl:getUsersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUsersRequest">

      <wsdl:part element="impl:getUsers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Find">

      <wsdl:operation name="getUsers">

         <wsdl:input message="impl:getUsersRequest" name="getUsersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUsersResponse" name="getUsersResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FindSoapBinding" type="impl:Find">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FindService">

      <wsdl:port binding="impl:FindSoapBinding" name="Find">

         <wsdlsoap:address location="http://localhost:8080/TwitterServer/services/Find"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
