Twitter - Server/WebContent/wsdl/Followers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://vansh" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://vansh" xmlns:intf="http://vansh" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://vansh" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="follow">
    <complexType>
     <sequence>
      <element name="uEmail" type="xsd:string"/>
      <element name="fEmail" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="followResponse">
    <complexType>
     <sequence>
      <element name="followReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFollowing">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="status" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFollowingResponse">
    <complexType>
     <sequence>
      <element name="getFollowingReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFollowers">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="status" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFollowersResponse">
    <complexType>
     <sequence>
      <element name="getFollowersReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getFollowingRequest">

      <wsdl:part element="impl:getFollowing" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFollowersRequest">

      <wsdl:part element="impl:getFollowers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="followRequest">

      <wsdl:part element="impl:follow" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFollowingResponse">

      <wsdl:part element="impl:getFollowingResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="followResponse">

      <wsdl:part element="impl:followResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFollowersResponse">

      <wsdl:part element="impl:getFollowersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Followers">

      <wsdl:operation name="follow">

         <wsdl:input message="impl:followRequest" name="followRequest">

       </wsdl:input>

         <wsdl:output message="impl:followResponse" name="followResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFollowing">

         <wsdl:input message="impl:getFollowingRequest" name="getFollowingRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFollowingResponse" name="getFollowingResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFollowers">

         <wsdl:input message="impl:getFollowersRequest" name="getFollowersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFollowersResponse" name="getFollowersResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FollowersSoapBinding" type="impl:Followers">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="follow">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="followRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="followResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFollowing">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFollowingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFollowingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFollowers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFollowersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFollowersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FollowersService">

      <wsdl:port binding="impl:FollowersSoapBinding" name="Followers">

         <wsdlsoap:address location="http://localhost:8080/TwitterServer/services/Followers"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
